<server description="collector-rest">
	<!-- Enable features -->
	<featureManager>
		<feature>cdi-2.0</feature>
		<feature>jaxrs-2.1</feature>
	</featureManager>

	<!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
	<httpEndpoint httpPort="9180" httpsPort="9543" id="defaultHttpEndpoint" host="*"/>
</server>
